// Color Palette
$black: #1e1e1f;
$white: #ffffff;

$gray: #6d6d70;
$lightGray: #eeeeee;
$borderColor: #e2e2e2;

$lightBlue: #529dff;
$blue: #5271ff;
$darkBlue: #2d2d30;

$red: #f35e5e;
$green: #59db5e;

// Other
$tr: 0.15s;
$b-width: 1.4px;
$b-shadow: 0px 3px 3px rgba(10, 10, 10, 0.2);
$m-top: 110px;
