@import '@/styles/index.scss';

.content {
  .buttons {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1200px) {
      flex-wrap: wrap;
      justify-content: center;
      gap: clamp(1.875rem, 1.648rem + 1.14vw, 2.5rem);
    }
  }

  .form {
    .inputs {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .input {
        position: relative;

        .titleContainer {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .forgotButton {
            font-size: clamp(0.813rem, 0.79rem + 0.11vw, 0.875rem);
            background-color: transparent;
            cursor: pointer;
            color: $blue;
            transition: color $tr;
            @include hover(null, $lightBlue);
          }
        }

        .title {
          font-size: clamp(1.188rem, 1.142rem + 0.23vw, 1.313rem);
          margin-bottom: 8px;
        }

        input {
          width: 100%;
          @include input(18px, 10px 15px);
        }

        .error {
          margin-top: 7px;
          display: flex;
          align-items: center;
          gap: 6px;
          position: absolute;

          img {
            width: 16px;
          }

          p {
            font-size: 12px;
            color: $red;
          }
        }
      }
    }

    .submit {
      margin-top: 45px;
      width: 100%;
      background-color: $blue;
      cursor: pointer;
      color: $white;
      border-radius: 10px;
      font-size: clamp(1.094rem, 1.06rem + 0.17vw, 1.188rem);
      font-weight: 400;
      padding-block: 12px;
      transition: background-color $tr;
      @include hover($lightBlue, null);
    }

    .SignUpLink {
      font-weight: 300;
      margin-top: 30px;
      font-size: clamp(0.813rem, 0.767rem + 0.23vw, 0.938rem);

      a {
        text-decoration: none;
        cursor: pointer;
        color: $blue;
        transition: color $tr;
        @include hover(null, $lightBlue);
      }
    }
  }
}
