@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Outfit:wght@100..900&display=swap');
@import '@/styles/index.scss';

body {
  font-family: 'Outfit', sans-serif;
  background-color: $white;
  color: $black;
  transition-property: opacity, filter;
  transition-timing-function: ease-in-out;
  transition-duration: 333ms;

  ::selection {
    color: $white;
    background-color: #5272ffc1;
  }

  img {
    display: block;
    width: 100%;
  }

  button {
    font-family: inherit;
  }

  .container {
    max-width: 1600px;
    padding-inline: clamp(0.938rem, 0.824rem + 0.57vw, 1.25rem);
    margin: auto;
  }

  &.dark {
    background-color: $black;
    color: $white;

    ::selection {
      color: $black;
      background-color: #5272ffc1;
    }
  }

  .screenWidthWarning {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 100vh;
    padding-inline: 15px;

    img {
      width: 40px;
    }

    p {
      text-wrap: balance;
      font-size: 16px;
      text-align: center;
      line-height: 20px;
    }
  }

  @media (max-width: 319.9px) {
    .screenWidthWarning {
      display: flex;
    }

    .screenContent {
      display: none;
    }
  }
}

.pageTransition {
  opacity: 0;
  filter: blur(12px);
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}
