@import '@/styles/index.scss';

.content {
  margin-top: $m-top;

  .head {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;

    .title {
      font-size: clamp(1.5rem, 0.568rem + 4.66vw, 4.063rem);
      font-weight: 800;
    }

    .description {
      font-size: clamp(0.938rem, 0.733rem + 1.02vw, 1.5rem);
      line-height: clamp(1.25rem, 1.023rem + 1.14vw, 1.875rem);
      width: clamp(16.25rem, 5.568rem + 53.41vw, 45.625rem);
      margin: auto;
      margin-top: clamp(0.938rem, 0.824rem + 0.57vw, 1.25rem);
      margin-bottom: clamp(8.75rem, 3.295rem + 27.27vw, 23.75rem);

      span {
        font-weight: 500;
      }
    }

    .pattern {
      position: absolute;
      top: 62%;

      @media (max-width: 500px) {
        top: 60%;
      }
      left: 50%;
      transform: translate(-50%, -50%);
      width: clamp(17.5rem, -1.136rem + 93.18vw, 68.75rem);
      z-index: -1;
    }
  }
}
