@import '@/styles/index.scss';

.desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: clamp(1rem, -0.25rem + 2vw, 1.25rem);

  @media (max-width: 1000px) {
    display: none;
  }

  .links {
    display: flex;
    align-items: center;
    gap: clamp(7.188rem, 2.5rem + 7.5vw, 8.125rem);

    .logo {
      width: clamp(3rem, 2.375rem + 1vw, 3.125rem);
    }

    div {
      display: flex;
      align-items: center;
      height: clamp(2.375rem, 1.75rem + 1vw, 2.5rem);
      gap: clamp(3rem, 2.375rem + 1vw, 3.125rem);
      background-color: #eeeeee6c;
      border-radius: 50px;
      padding-block: 10px;
      padding-inline: clamp(2.375rem, 1.75rem + 1vw, 2.5rem);

      a {
        color: $black;
        text-decoration: none;
        font-size: clamp(1rem, 0.688rem + 0.5vw, 1.063rem);
        transition: $tr color;
        @include hover(null, $gray);
      }
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    gap: clamp(1.375rem, 0.75rem + 1vw, 1.5rem);

    span {
      width: 2.5px;
      height: clamp(2.125rem, 1.5rem + 1vw, 2.25rem);
      background-color: $lightGray;
      opacity: 70%;
    }

    .login {
      @include defaultButton(
        clamp(6.5rem, 4.625rem + 3vw, 6.875rem),
        clamp(2.375rem, 1.125rem + 2vw, 2.625rem),
        clamp(1rem, 0.688rem + 0.5vw, 1.063rem),
        $darkBlue,
        $gray
      );
      @include hover($gray, null);
    }
  }
}

.darkDesktop {
  .links {
    div {
      background-color: #eeeeee4f;

      a {
        color: $white;

        @include hover(null, $lightGray);
      }
    }
  }

  .buttons {
    span {
      opacity: 40%;
    }
  }
}

.mobile {
  display: none;

  @media (max-width: 1000px) {
    display: flex;
  }
}
