@import '@/styles/index.scss';

.desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;

  .links {
    display: flex;
    align-items: center;
    gap: 130px;

    .logo {
      width: clamp(2.625rem, 2.507rem + 0.59vw, 2.875rem);
    }

    div {
      display: flex;
      align-items: center;
      gap: 50px;
      background-color: #eeeeee6c;
      border-radius: 50px;
      height: 35px;
      padding-inline: 47px;

      @media (max-width: 1000px) {
        display: none;
      }

      a {
        color: $black;
        text-decoration: none;
        font-size: 14px;
        transition: $tr color;
        @include hover(null, $gray);
      }
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    gap: clamp(1.25rem, 1.132rem + 0.59vw, 1.5rem);

    span {
      width: 2px;
      height: 28px;
      background-color: $lightGray;
      opacity: 70%;
    }

    .login {
      @include defaultButton(98px, 38px, 15.6px, $darkBlue, $gray);
      @include hover($gray, null);

      @media (max-width: 1000px) {
        display: none;
      }
    }

    .menu {
      display: none;

      @media (max-width: 1000px) {
        display: flex;
      }
    }
  }
}

.darkDesktop {
  .links {
    div {
      background-color: #eeeeee23;

      a {
        color: $white;

        @include hover(null, $lightGray);
      }
    }
  }

  .buttons {
    span {
      opacity: 40%;
    }
  }
}
