@import '@/styles/index.scss';

.toggle {
  background-color: $darkBlue;
  border-radius: 50%;
  border: $b-width solid $gray;
  padding: 4.8px;
  cursor: pointer;
  transition: $tr background-color;

  img {
    width: 16px;
    height: 16px;
  }

  @include hover($gray, null);
}
